.side_bar{
    position: fixed;
    top: 0;
    width: 76px;
    left: 0;
    height: 84%;
    border-bottom-right-radius: 28px;
    background-image: linear-gradient(to bottom, #B0A4F5, #EDA197) ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.top_bar{
    position: fixed;
  top: 0;
  left: 76px; 
  width: calc(100% - 76px); 
  height: 76px;
    background-color: #d6d1f1;
    display: flex;
    align-items: center;
}
.Main_Container{
  position: fixed;
  top: 76px; 
  left: 76px; 
  width: calc(100% - 76px); 
  height: calc(100% - 76px); 
  overflow: auto; 
  padding: 20px;

}
.sub_container{
  margin-top: 14px;
}
@media (max-width:660px){
  .sub_container{
    margin-top: 40px;
  }
}